<head>
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <link rel="shortcut icon" href="" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,300italic,400italic" rel="stylesheet">
  <link href="/css/material.css" rel="stylesheet">
  <link href="/css/ripples.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
